<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>вход</title>
    <link rel="icon" href="h.png" type="image/x-icon">
    <link rel="stylesheet" href="log_style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <!-- Здесь можно разместить другие элементы, которые будут на переднем плане -->
        <div class="content">
            <div class="white-box">
                <h1 align="center" style="color: olivedrab; font-weight: bold; font-size: 60px; margin-top: 90px;">Вход</h1>

                <form action="/login" method="post">
                    <div class="input-container">
                        <input type="text" id="email" name="email" class="rounded-input" placeholder="Email">
                    </div>

                    <div class="input-container">
                        <input type="password" id="password" name="password" class="rounded-input" placeholder="Пароль">
                    </div>

                    <input type="submit" class="main__content_button" value="Войти">
                </form>

                <div class="footer">
                    <a href="registration">Нет аккаунта? Зарегистрируйтесь</a>
                </div>
            </div>
        </div>
    </header>

    <div class="content2">
        <img src="img/juicy-hands-with-gadgets.gif" alt="Gadget">
    </div>
</div>
</body>
</html>
